.row
  .col-xs-12
    .card
      .card-header
        .card-title
          .title Question
        .card-btn
          = link_to "Add Question", new_question_path(), class: "btn btn-success"
      .card-body
        .questions-list
          = render 'questions'
        = paginate @questions
        .page-loader
          .text-center.load-more
            %i.fa.fa-refresh
            load more..

= content_for :scripts do
  window.queezebuilder.shared.init_endless_scroll();
